<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head"); %>
<body>
    <%- include("../partials/header"); %>
        <section class="container">
            <h2>Criar uma rifa</h2>
            <form action="/raffle" method="post" enctype="multipart/form-data" id="form">
                <input type="text" id="title" name="title" class="title" placeholder="Titulo Rifa" required>
                <input type="text" id="description" name="description" class="description" placeholder="Descrição da rifa" required>
                <input type="number" id="amount" name="amount" class="amount" placeholder="Quantidade Cotas" required>
                <input type="file" id="file" name="file" class="file">
                <input type="submit" id="submit" value="Criar Rifa">
            </form>
        </section>
    <%- include("../partials/footer"); %>
</body>
</html>
