<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head'); %>
<body>
    <%- include("../partials/header"); %>
        <section>
            <div class="container">
                <p><%= error %></p>
            </div>
        </section>
    <%- include("../partials/footer"); %>
</body>
</html>