<header>
    <div class="container">
        <nav>
            <a href="/"><img src="/public/imgs/trevo.gif" alt="logo"></a>
            <ul>
                <li>
                    <a href="/user">Quotas</a>
                </li>
                <li>
                    <a href="/raffle">Raffle</a>
                </li>
                <li>
                    <a href="/login" id="login">Login</a>
                </li>
                    <li>
                        <a href="/raffle/create" id="raffle">Create raffle</a>
                    </li>
            </ul>
            <div>
                <input type="text" placeholder="Digite um nome ou numero" name="search" id="search">
            </div>
        </nav>
    </div>
</header>