<header>
    <div class="container">
        <nav>
            <a href="/"><img src="/public/imgs/trevo.gif" alt="logo"></a>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a id="quotas" href="/user">Quotas</a>
                </li>
            </ul>
            <div>
                <input type="text" placeholder="username ou number" name="search" id="search">
            </div>
        </nav>
    </div>
</header>